.card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
    border:1px solid black;
    border-radius:5px;
    padding:0 1em;
    
}
.question {
    text-align: center;
}
.options {
    display:flex;
    flex-direction:column;
     margin:1em 0;
 
}
 